<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Alumnos</title>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-6">
			<form method="POST" th:action="@{/alumno/submit}" 
					th:object="${alumno}">
				<label>Nombre</label>
				<input type="text" th:field="*{nombre}"
					placeholder="Nombre del alumno" />
				<br />
				<label>Apellidos</label>
				<input type="text" th:field="*{apellidos}"
					placeholder="Apellidos del alumno" />
				<br />

				<label>Email</label>
				<input type="email" th:field="*{email}"
					placeholder="Email del alumno" />
				<br />
						
				<label>Curso</label>		
				<select th:field="*{curso}">
					<option value="-1">---</option>
					<option th:each="curso : ${cursos}"
							th:value="${curso.id}" th:text="${curso.nombre}">
							Primer curso
							</option>
				</select>
				<br />
				
				<label>Tipo de alumno</label>
				<select th:field="*{tipo}">
					<option value="">---</option>
					<option th:each="tipo : ${tipo_alumno}"
						th:value="${tipo}" th:text="${tipo}">Tipo alumno
						</option>
				</select>
				<br/>
				<button type="submit" class="btn btn-default">Enviar</button>	
			</form>    
        </div>
      </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>